.header {
  padding: 1rem;
  background: lightblue;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.input-wrapper {
  display: flex;
}

.input {
  display: flex;
  align-self: center;
}